<div class="content">
    

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr style="color:#0E2EB0">
                                <th>Estudiantes</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for estudiante in estudiantes_list %}
                            <tr>
                                <td class="d-flex justify-content-between">
                                    {{ estudiante.padre }}
                                </td>
                                <td>{{ estudiante.nombre }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            onClick=" window.location.href='/home' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>