<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Hijos</title>
</head>

<body>
    <h1>Hijos del Padre</h1>
    {% if estudiantes %}
    <ul>
        {% for estudiante in estudiantes_list %}
        <li>
            <strong>Nombre:</strong> {{ estudiante.nombre }}<br>
            <strong>Fecha de Nacimiento:</strong> {{ estudiante.fecha_nacimiento }}<br>
            <strong>Tipo de Documento:</strong> {{ estudiante.tipo_d }}<br>
            <strong>Documento:</strong> {{ estudiante.documento }}<br>
            <strong>Género:</strong> {{ estudiante.get_genero_display }}<br>
            <strong>Correo:</strong> {{ estudiante.correo }}<br>
            <strong>Saldo:</strong> {{ estudiante.saldo }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay hijos asociados a este usuario.</p>
    {% endif %}
</body>

</html>