<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Extintor</title>
    {% endblock %}
</head>

<body>
<div class="content">
    

    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
            </a>
        </nav>
    
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                Ofipensiones
            </a>
        </nav>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/estudiantes/">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Inicio</a>
                </li>
            </ul>
        
            <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size:120%" class="nav-link">{{ user.correo }}</a></li>
                    <li><a style="font-size:120%; padding-right:20px" class="nav-link" href="/logout">Log out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size:120%; padding-right:20px" class="navbar-link" href="/login/auth0">Login</a></li>
                </ul>
                {% endif %}
            </form>
        
        </div>
        </nav>


    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr style="color:#0E2EB0">
                                <th>Nombre</th>
                                <!-- <th>Fecha de Nacimiento</th>
                                <th>Tipo de Documento</th>
                                <th>Documento</th>
                                <th>Género</th> -->
                                <th>Correo</th>
                                <th>Saldo</th>
                                <th>Padre Asociado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for estudiante in estudiantes_list %}
                            <tr>
                                <td>{{ estudiante.nombre }}</td>
                                <!-- <td>{{ estudiante.fecha_nacimiento }}</td>
                                <td>{{ estudiante.tipo_d }}</td>
                                <td>{{ estudiante.documento }}</td>
                                <td>{{ estudiante.get_genero_display }}</td> -->
                                <td>{{ estudiante.correo }}</td>
                                <td>{{ estudiante.saldo }}</td>
                                <td>{{ estudiante.padre.nombre }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            onClick=" window.location.href='/home' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>