<!-- Facturas/templates/Facturas/tu_template.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar archivo CSV</title>
</head>
<body>
    <h2>Generar archivo CSV(se toman las facturas cuyas fechas de inicio estan entre el rango dado)</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Generar y Descargar CSV</button>
    </form>
</body>
</html>
